<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gym WorkOut App</a>
    <form class="form-inline">
      <button class="btn btn-primary my-2 my-sm-0 mr-2"
              routerLink="/" type="button">
        Home
      </button>
      <button class="btn btn-info my-2 my-sm-0 mr-2"
                       routerLink="newWorkout" type="button">
      Add New Workout
    </button>
      <button class="btn btn-danger my-2 my-sm-0 mr-2"
              routerLink="delete" type="button">
        Delete Workout
      </button>


    </form>
  </div>
</nav>